<%- include('partials/header')%>
    
<script src="/js/select-location.js" type="module"></script>

<main class="container">

    <p id="welcome"><%=`Welcome ${locals.username}`%>,</p>

    <div id="profile_form"> 
        <h1>Complete Profile</h1>
        <form action="/complete-profile" method="post" enctype="multipart/form-data">
            <div>
                <label for="">National ID</label>
                <input type="text" name = "national_id" id="" required>
            </div>

            <div>
                <label for="">County</label>
                <select name="county" id="select-county" required>
                    <option value="">Select County</option>
                </select>
             
            </div>

            <div>
                <label for="">Constituency</label>
                <select name="constituency" id="select-constituency" required>
                    <option value="">Select Constituency</option>
                </select>
                
            </div>
            
            <div>
                <label for="">Assembly Ward</label>
                <select name="assembly_ward" id="select-ward" required>
                    <option value="">Select Ward</option>
                </select>
               
            </div>
            
            <div>
                <label for="">Polling Station</label>
                <input type="text" name="polling_station" id="" required>
            </div>
            
            <div>
                <label for="">Profile Picture</label>
                <input type="file" name="photo_url" id="" required>
            </div>
            
            <input type="submit" value="Save"> 
        </form>
    </div>

</main>

   
<%- include('partials/footer')%>